@media (min-width: 768px) {
    .max-width-layout {
        padding-left: 16rem !important;
        transition: padding-left 200ms ease-in-out !important;
    }
    .min-width-layout {
        padding-left: 5rem;
        transition: padding-left 200ms ease-in-out !important;
    }
}