@media (min-width: 760px) {
    .max-width-layout {
        padding-left: 15rem !important;
        transition: padding-left 200ms ease-in-out !important;
    }
    .min-width-layout {
        padding-left: 5rem !important;
        transition: padding-left 200ms ease-in-out !important;
    }
}