.popUp-container {
  width: 472px;
  height: 401px;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.input-box-shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-title {
  font: normal normal 600 30px Open Sans;
  line-height: 40.85px;
  color: var(--gs_primary);
  margin-bottom: 10px;
}
@media screen and (max-width-sidebar: 480px) {
  .title {
    font-size: 26px;
  }
  .description {
    font-size: 20px;
  }
}
