.container {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e2e7ed;
  border-radius: 5px;
  margin-left: 61px;
  margin-top: 24px;
  margin-right: 60px;
  margin-bottom: 100px;
}

.container-header {
  height: 57px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 34px;
}

.container-title {
  margin-top: 8px;
  font: normal normal 600 18px/24px Open Sans;
  letter-spacing: 0px;
}
.MuiGrid-spacing-xs-3 {
  width: 100% !important;
  margin: 0 !important;
  height: 100% !important
  ;
}
