@media(min-width: 300px) {
    .header-postion {
        right: none!important;
        left: none!important;
    } 
}

.button {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: translateY(-3px) !important;
}
.button:active {
    transform: translateY(1px) !important;
}