
.max-width-sidebar {
  width: 15rem; 
  transition: width 200ms ease-in-out;
}
.min-width-sidebar {
  width: 4rem;
  transition: width 200ms ease-in-out;
}

.active-panel {
  color: var(--text_dark);
}
.sidebar-shadow {
  box-shadow: 10px 10px 5px var(--text_dark) !important;
}

/* Landscape */
@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 790px) 
                   and (orientation: landscape) {

  .sidebar-scroll {
    height: 50vh !important;
    overflow-y: auto !important;
  }
}