.header-menu-item {
  height: 20px;
  text-align: left;
  font: normal normal normal 15px/20px Open Sans;
  letter-spacing: 0px;
}

.header-menu-container {
  width: 153px;
  height: 124px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 30px #0000001a;
  border: 1px solid #e2e7ed;
}

.header-menu-language {
  text-align: left;
  font: normal normal normal 15px/20px Open Sans;
  letter-spacing: 0px;
  color: #222222;
}

.header-user-title {
  font: normal normal normal 15px/20px Open Sans;
  letter-spacing: 0px;
  color: #222222;
  display: flex;
  align-items: center;
}

.mat-menu-panel {
  padding: 0px !important;
}

.mat-menu-content {
  padding: 0px !important;
}

.mat-menu-item {
  margin: 0px;
}

.header-container {
  height: 64px;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  justify-items: center;
  align-items: center;
}

.header-logo {
  width: 15%;
  margin-left: 44px;
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #29647d;
}

.header-inner-container {
  display: flex;
  justify-content: space-between;
  padding-left: 62px;
  padding-right: 62px;
  width: 84%;
}

.header-title {
  font: normal normal 600 20px/27px Open Sans;
  letter-spacing: 0px;
  color: #29647d;
}
.header-title :focus {
  border: none;
  outline: none;
}
div :focus {
  border: none;
  outline: none;
}
.card {
  width: 1046px;
  height: 78px;
  border-radius: 8px;
  box-shadow: 0px 11px 33px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 59px;

  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 20px;
}

.home {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px 15px 33px rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -30px;
  cursor: pointer;
}

.view-user-button {
  background-color: #0063cb;
  height: 40px;
  border-radius: 8px;
  box-shadow: 0px 11px 33px rgba(0, 0, 0, 0.04);
  color: #ffffff;
  font-size: 16px;
  line-height: 45px;
  font-family: 'roboto-bold';
}

.view-user-button img {
  display: none;
}

.logo {
  color: #194866;
  font-size: 25px;
  font-family: 'roboto-black';
  line-height: 45px;
  position: absolute;
  margin-left: 470px;
}

.menu-box {
  width: 200px;
}

.menu-box button {
  font-size: 16px;
  line-height: 32px;
  color: #194866;
  font-family: 'roboto-regular';
}

.right-header {
  margin-left: auto;
}

.right-header .notification {
  margin: 5px;
  display: inline;
}

.right-header .menu {
  margin-right: 45px;
  display: inline;
}

.notification .notification-alert-point {
  width: 9px;
  height: 9px;
  background-color: #ff3b30;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 11px;
}

.mobile-button {
  display: none;
}

.desktop-space-for-header {
  margin-top: 160px;
}

.selected-language {
  color: #0063cb;
  margin-top: 8px;
  cursor: pointer;
}

.selected-language i {
  font-size: 23px;
  color: #0063cb;
  float: right;
}

@media (max-width: 1024px) {
  .desktop-space-for-header {
    margin-top: unset;
  }

  .mobile-space-for-header {
    margin-top: 90px;
  }

  .card {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 1px 1px #efeff4;
    border-radius: unset;
  }

  .logo {
    display: none;
  }

  .home {
    display: none;
  }

  .view-user-button {
    background-color: transparent;
    color: #0063cb;
    font-size: 14px;
    box-shadow: unset;
  }

  .view-user-button img {
    display: inline;
  }

  .right-header {
    position: absolute;
    right: 10px;
  }

  .right-header .menu {
    margin-right: unset;
  }

  .lang-selected {
    color: #e15248;
  }

  .mobile-button {
    display: block;
    color: #0063cb;
    font-size: 32px;
    margin: 0px 5px;
    margin-left: 10px;
  }
}
